@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    background-color: white;
    font-family: "Poppins";
    margin:0;
}

nav{
    background-color: black;
    display: flex;
    padding-inline: 50px;
    padding-top: 12px;
    padding-bottom: 12px;
    justify-content: space-between;
    align-items: center;
}
.left-nav{
    display: flex;
    align-items: center;
    gap: 40px;
}
.left-nav img{
    height: 40px;
    gap: 40px;
}
nav a{
    text-decoration: none;
    color: white;
    font-weight: 700;
}
nav a:hover{
    color: #eb374e;
}
.right-nav a{
    background-color: #eb374e;
    padding-inline: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 8px;
}
.right-nav a:hover{
    background-color: #d10621;
    color: white;
}
.right-nav .icon{
    display: none;
}

/* blog */
.blog{
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
}
.blog-list{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 70%;
}
.blog-list-item{
    display: flex;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 8px;
}
.blog-image img{
    width: 300px;   
}
.blog-content{
    margin-left: 24px;
}

.blog-form{
    width: 25%;
}
.form-container{
    background-color: #e4e4e4;
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 16px;
}

form h2{
font-size: 24px;
font-weight: 700;
text-align: center;
}
form input,
textarea,
.input-blog-image-group{
    padding: 8px;
    margin-top: 6px;
    margin-bottom: 16px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 6px;
    width: 95%;
}

form textarea{
    height: 140px;
}
.input-blog-image-group label{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
form button{
    width: 100%;
    background-color: #eb374e;
    border: none;
    padding: 16px 8px;
    border-radius: 10px;
    color: white;
}
form button:hover{
    background-color: #d10621;
}

@media screen and (max-width: 768px){
    nav{
        padding-inline: 16px;
        align-items: center;
    }
    .left-nav{
        gap: 16px;
        align-items: center;
    }
    .left-nav img{
        height: 24px;
    }
    .right-nav a{
        display: none;
    }
    .right-nav .icon{
        display: block;
        background-color: black;
    }
    .right-nav .icon:hover{
        background-color: black;
    }
    .material-symbols-outlined{
        color: white;
    }
    .material-symbols-outlined:hover{
        color: #d10621;
    }
}